
#index{
	background-color: #BFD7EA;
}
#Italian{
	background-color: #CCD7C5;
}
#mexican{
	background-color: #FFC857;
}
h1 {

	color: #395B50;
}
h2{

color: #FFFFFF;
}
p{

	color:#FFFFFF;
}
li{

	color:#FFFFFF;
}
